.anchor {
  display: flex;
  align-items: center;

  padding: 0.2em 1.5em;

  font-weight: 600;
  color: rgb(var(--color-light));
  text-decoration: none;

  background-color: rgb(var(--color-primary));

  transition: background-color .3s ease-in;
}

.anchor:hover {
  background-color: rgb(var(--color-primary-dark));
}

.icon {
  margin-left: 0.2rem;
}

