:root {
  --cursor-default: url('../icons/cursors/default.svg'), auto;
  --cursor-pointer: url('../icons/cursors/pointer.svg'), auto;
  --color-light: 236, 248, 249;
  --color-primary: 229, 88, 7;
  --color-secondary: 6, 141, 169;
  --color-secondary-dark: 	5, 109, 131;
  --color-secondary-darker: 3, 78, 93;

  cursor: var(--cursor-default);
  background-color: rgb(var(--color-light));
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(var(--color-secondary));
}

body::-webkit-scrollbar-track:hover {
  background-color: rgb(var(--color-primary));
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-primary));
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color-secondary));
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgb(var(--color-secondary-dark));
}
