@import url("./fonts/sofia-sans.css");

:root {
  --cursor-default: url('../icons/cursors/default.svg'), auto;
  --cursor-pointer: url('../icons/cursors/pointer.svg'), auto;
  --color-light: 236 248 249;
  --color-dark: 9 25 28;
  --color-cyan: 6 141 169;
  --color-cyan-light: 7 173 207;
  --color-cyan-lighter: 9 204 245;
  --color-cyan-dark: 5 109 131;
  --color-cyan-darker: 3 78 93;
  --color-orange: 229 88 7;
  --color-orange-light: 248 108 27;
  --color-orange-lighter: 249 132 65;
  --color-orange-dark: 191 73 6;
  --color-orange-darker: 153 59 5;

  cursor: var(--cursor-default);

  font-family: "Sofia Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: rgb(var(--color-background));
}

html {
  --color-background: var(--color-light);
  --color-primary: var(--color-cyan);
  --color-primary-light: var(--color-cyan-light);
  --color-primary-lighter: var(--color-cyan-lighter);
  --color-primary-dark: var(--color-cyan-dark);
  --color-primary-darker: var(--color-cyan-darker);
  --color-secondary: var(--color-orange);
  --color-secondary-light: var(--color-orange-light);
  --color-secondary-lighter: var(--color-orange-lighter);
  --color-secondary-dark: var(--color-orange-dark);
  --color-secondary-darker: var(--color-orange-darker);
}

html[data-theme='dark'] {
  --color-background: var(--color-dark);
  --color-primary: var(--color-orange);
  --color-primary-light: var(--color-orange-light);
  --color-primary-lighter: var(--color-orange-lighter);
  --color-primary-dark: var(--color-orange-dark);
  --color-primary-darker: var(--color-orange-darker);
  --color-secondary: var(--color-cyan);
  --color-secondary-light: var(--color-cyan-light);
  --color-secondary-lighter: var(--color-cyan-lighter);
  --color-secondary-dark: var(--color-cyan-dark);
  --color-secondary-darker: var(--color-cyan-darker);
}

a, button {
  cursor: var(--cursor-pointer);
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(var(--color-orange));
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-cyan));
  background-clip: content-box;
  border: 5px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color-cyan-light));
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgb(var(--color-cyan-lighter));
}

