/* https://github.com/marcologous/hanken-grotesk */

@font-face {
  font-family: 'Hanken Grotesk';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Hanken Grotesk Light'), local('HankenGrotesk-Light'), url('../../fonts/HankenGrotesk/HankenGrotesk-Light.woff2')  format('woff2'), url('../../fonts/HankenGrotesk/HankenGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Hanken Grotesk Regular'), local('HankenGrotesk-Regular'), url('../../fonts/HankenGrotesk/HankenGrotesk-Regular.woff2')  format('woff2'), url('../../fonts/HankenGrotesk/HankenGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Hanken Grotesk Medium'), local('HankenGrotesk-Medium'), url('../../fonts/HankenGrotesk/HankenGrotesk-Medium.woff2')  format('woff2'), url('../../fonts/HankenGrotesk/HankenGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Hanken Grotesk SemiBold'), local('HankenGrotesk-SemiBold'), url('../../fonts/HankenGrotesk/HankenGrotesk-SemiBold.woff2')  format('woff2'), url('../../fonts/HankenGrotesk/HankenGrotesk-SemiBold.ttf') format('truetype');
}
