@use "src/shared/assets/styles/variables/colors";
@import 'src/shared/assets/styles/mixins/cursor';


.letters {
  text-align: center;
  background-color: colors.$light;

  &__container {
    width: 50vw;
    height: auto;
    padding: 0 10vw;
    vertical-align: middle;
    @include cursor('jordan');
  }

  &__item {
    fill: colors.$primary;
  }
}
