.container {
  scale: 0;
  position: fixed;
  top: 90px;
  right: 0;
  left: 0;

  width: 100vw;

  text-align: center;
}

.letters {
  cursor: url('../icons/jordan.svg'), auto;

  width: 50%;
  height: auto;
  padding: 0 10vw;

  font-size: 1em;
}

.letter {
  fill: rgb(var(--color-secondary));
}
