.canvas {
    position: fixed;
    z-index: -1;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
}

.stretchByHeight {
    width: auto;
    height: 100%;
}

.stretchByWidth {
    width: 100%;
    height: auto;
}
