.container {
  padding: 0 1rem;
  color: rgb(var(--color-dark));
}

.section {
  padding-bottom: 5vh;
}

.section:last-child {
  margin-bottom: 20vh;
}

html[data-theme='dark'] .section {
  color: rgb(var(--color-light));
}

.section h2 {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(var(--color-primary));
  transition: all .3s ease-in;
}

.section:first-child h2 {
  font-size: 3rem;
}

.section p {
  font-size: 1.3rem;
  transition: all .3s ease-in;
}

.section:first-child p {
  font-size: 1.8rem;
}
