.container {
  cursor: var(--cursor-pointer);

  width: 48px;
  height: 48px;
  padding: 1rem;

  background-color: transparent;
  border-radius: 50%;

  transition: background-color .3s ease-in;
}

.container:hover {
  background-color: rgb(var(--color-light) / 15%);
}

.container:active {
  background-color: rgb(var(--color-light) / 30%);
  transition: background-color .1s ease-in;
}

.en,
.ru {
  position: absolute;
  width: 48px;
  height: 48px;
  fill: rgb(var(--color-light));
}

.show {
  top: 0;
  opacity: 0;
  animation: .15s ease-in .15s forwards show;
}

@keyframes show {
  to {
    top: 26px;
    opacity: 1;
  }
}

.hide {
  top: 26px;
  opacity: 1;
  animation: .15s ease-in forwards hide;
}

@keyframes hide {
  to {
    top: 52px;
    opacity: 0;
  }
}
