@import 'src/assets/styles/mixins/cursors';

@media (prefers-color-scheme: light) {
  html {
    @include cursor('light', 'default')
  }
  button {
    @include cursor('light', 'pointer')
  }
}

@media (prefers-color-scheme: dark) {
  html {
    @include cursor('dark', 'default')
  }
  button {
    @include cursor('dark', 'pointer')
  }
}

main {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
main svg {
  height: 100px;
  width: auto;
}
main svg {
  padding: 0 10px;
}

