@import 'src/assets/styles/mixins/cursors';

@media (prefers-color-scheme: light) {
  html {
    @include cursor('light', 'default')
  }
  button {
    @include cursor('light', 'pointer')
  }
}

@media (prefers-color-scheme: dark) {
  html {
    @include cursor('dark', 'default')
  }
  button {
    @include cursor('dark', 'pointer')
  }
}

.svg-container {
  position: fixed;
  top: 0;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
svg {
  width: 50vw;
  height: auto;
  padding: 0 10vw;
  margin-bottom: 20vh;
}
.bottom {
  width: auto;
  height: 200vh;
  //background-color: blanchedalmond;
}
