@import 'src/assets/styles/mixins/cursors';

@media (prefers-color-scheme: light) {
  html {
    @include cursor('light', 'default')
  }
  button {
    @include cursor('light', 'pointer')
  }
}

@media (prefers-color-scheme: dark) {
  html {
    @include cursor('dark', 'default')
  }
  button {
    @include cursor('dark', 'pointer')
  }
}

.letters {
  text-align: center;

  &__container {
    width: 60vw;
    height: auto;
    padding: 0 10vw;
  }

  &__item {
    fill: black;
  }
}
